fieldset {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: .75rem;

        & label {
            font: var(--font-body-sm);
            color: var(--text-body);
            margin-bottom: .75rem;
            margin-top: 1.75rem;
        }

        & .input-wrapper {
            display: flex;
            flex-direction: column;

            & input,
            & textarea {
                width: 100%;
                background-color: var(--input-background);
                border-radius: .5rem;
                padding: 1rem;
                border: 1px solid var(--input-stroke);
                color: var(--input-placeholder);
                font: var(--font-body-md);
                outline: none;

                &::placeholder {
                    color: var(--input-placeholder);
                    font: var(--font-body-md);
                }

                &:focus {
                    border: 1px solid var(--brand-light);
                }
            }
        }

        &:not(:valid) {
            .error {
                display: block;
            }
        }

        & .double-input {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(2, 1fr);

            & .input-select {
                display: flex;
                flex-direction: column;
            }

            & .input-options {
                display: flex;
                background-color: var(--input-background);
                border-radius: .5rem;
                padding: .45rem;
                border: 1px solid var(--input-stroke);
                position: relative;
                gap: .5rem;

                & .option {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .25rem;
                    padding: .25rem;
                    font: var(--font-body-xs);
                    color: var(--text-heading);

                    & input {
                        all: unset;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }

                    & svg {
                        width: 1.5rem;
                    }

                    &:has(:checked){
                        background-color: #2d3136;
                        border-radius: .25rem;

                        & svg path{ 
                            fill: var(--brand-light);
                        }
                    }

                    &:hover {
                        background-color: var(--shape-hover);
                    }
                }
            }
        }

        & .textarea-wrapper {

            & textarea {
                margin-top: 0.75rem;
                width: 100%;
                background-color: var(--input-background);
                border-radius: .5rem;
                padding: 1rem;
                border: 1px solid var(--input-stroke);
                color: var(--input-placeholder);
                font: var(--font-body-md);
                outline: none;

                &::placeholder {
                    color: var(--input-placeholder);
                    font: var(--font-body-md);
                }

                &:focus {
                    border: 1px solid var(--brand-light);
                }
            }
        }

        & .color-selection {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));

            & input {
                appearance: none;
                width: 2.5rem;
                height: 2.5rem;
                background-color: var(--shape-button);
                border-radius: 50%;

                &:hover {
                    background-color: var(--shape-hover);
                }
            }

            & .color-item {
                position: relative;

                &:has(:checked) {  

                    & input {
                        border: 1px solid var(--brand-light);
                    }
                }

                & .color-background {
                    top: 0.5rem;
                    left: 0.5rem;
                    position: absolute;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    border: none;
                }

                & .light {
                    background-color: var(--brand-light);
                }

                & .navy {
                    background-color: var(--accent-navy);
                }

                & .purple {
                    background-color: var(--accent-purple);
                }

                & .fuschia {
                    background-color: var(--accent-fuschia);
                }

                & .pink {
                    background-color: var(--accent-pink);
                }

                & .danger {
                    background-color: var(--danger);
                }

                & .orange {
                    background-color: var(--accent-orange);
                }

                & .yellow {
                    background-color: var(--accent-yellow);
                }

                & .lime {
                    background-color: var(--accent-lime);
                }

                & .green {
                    background-color: var(--accent-lime);
                }

                & .cyan {
                    background-color: var(--accent-cyan);
                }
            }
        }
    }