.theme-selection {
    display: grid;
    grid-template-columns: repeat(4, minmax(7.875rem, 1fr));
    gap: 1rem;
    justify-content: center;
    align-items: center;

    & .theme-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--shape-button);
        border-radius: .5rem;
        position: relative;
        height: 6.625rem;

        &:hover {
            background-color: var(--shape-hover);
        }

        & .theme-image {
            display: flex;
            justify-content: center;
            padding: 8px;

            & img {
                width: 126px;
                height: 64px;
            }
        }

        & .theme-bottom {
            display: flex;
            justify-content: center;
            padding-bottom: .5rem;

            & span {
                font: var(--font-body-md);
                color: var(--text-heading);
            }
        }

        & input {
            position: absolute;
            appearance: none;
            inset: 0;
            width: 100%;
            height: 100%;
        }

        &:has(:checked) {
            border: 1px solid var(--brand-light);
        }
    }
}