@import url(fields/index.css);

form {

    & fieldset {
        border: none;

        & legend {
            display: flex;
            align-items: center;
            font: var(--font-heading-md);
            font-size: 1.25rem;
            color: var(--text-heading);
            gap: .75rem;
            margin-bottom: 1.5rem;

            & svg {
                width: 1.5rem;
        
                & path {
                    fill: var(--input-placeholder);
                }
            }
        }
    }
}